<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= currentUser.username %>'s Books</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= currentUser.username %>'s Books</h1>
  <div id='current-read-list'>
    <h2>Current reads:</h2>
    <div class='user-books'>
      <% currentReads.forEach(book => { %>
        <div>
          <a href='/books/show/<%= book.googleBooksId %>'><img src='<%= book.imageLink %>'></a>
          <a href='/books/show/<%= book.googleBooksId %>'><%= book.title %></p></a>
        </div>
      <% }) %>
    </div>
  </div>
  <div id='want-to-read-list'>
    <h2>Want to Read:</h2>
    <div class='user-books'>
      <% toReads.forEach(book => { %>
          <a href='/books/show/<%= book.googleBooksId %>'><img src='<%= book.imageLink %>'></a>
          <a href='/books/show/<%= book.googleBooksId %>'><%= book.title %></p></a>
        </div>
      <% }) %>
    </div>
  </div>
  <div id='read-books-list'>
    <h2>Read Books:</h2>
    <div class='user-books'>
      <% readBooks.forEach(book => { %>
        <div>
          <a href='/books/show/<%= book.googleBooksId %>'><img src='<%= book.imageLink %>'></a>
          <a href='/books/show/<%= book.googleBooksId %>'><%= book.title %></p></a>
        </div>
      <% }) %>
    </div>
  </div>
</body>
</html>
