<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Search Results</h1>
  <a href='/books/search'>Search again</a>
  <div id='search-results-container'>
    <% searchResults.items.forEach(book => { %>
      <div class='book-container'>
        <a href='/books/show/<%= book.id %>'><h2><%= book.volumeInfo.title %></h2></a>
        <% book.volumeInfo.authors.forEach(author => { %>
          <h4 class='author-names'><%= author %></h4>
        <% }) %>
        <h3><%= book.volumeInfo.author %></h3>
        <img src='<%= book.volumeInfo.imageLinks.thumbnail %>' alt='book cover'>
        <p>ISBN 10: <%= book.volumeInfo.industryIdentifiers[0].identifier %></p>
        <h3>Description</h3>
        <p class='book-description'><%= book.volumeInfo.description %></p>
      </div>
    <% }) %>
  </div>
</body>
</html>
